@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

:root {
  --main-text: clamp(1.9rem, 3vw, 3.2rem);
  --secondary-text: clamp(1rem, 1.8vw, 1.2rem);
}
